<header class="bar-title">
  <a class="button" data-hull-action="toggleShelf" id="activate-shelf">
    <span class="icon-github-2"></span>
  </a>
  <h1 class="title">{{login}}</h1>
  <a class="button" data-hull-action="openNotifications">
    <span class="notification-indicator unread"></span>
  </a>
</header>
<div class="push-hook">
  <nav class="bar-standard">
    {{#if sectionViews}}
    <ul class="segmented-controller">
      {{#sectionViews}}
      <li {{#ifEqual name ../currentView}}class="active"{{/ifEqual}}>
        <a href="#/repos/{{../login}}/{{../repo}}/{{name}}" data-transition="fade">{{title}}</a>
      </li>
      {{/sectionViews}}
    </ul>
    {{/if}}
  </nav>
  {{#if currentView}}
  <div class="content repo-content" data-hull-widget="{{currentView}}" data-hull-login="{{login}}" data-hull-repo='{{repo}}'>
  </div>
  {{/if}}

</div>